body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	text-align: center;
	margin: 0;
}

.options {
	max-width: 650px;
	margin: 20px auto;
}

.question {
	font-weight: 500;
	margin: 20px 0 0 0;
}

.number-color {
    color: rgb(189,108,88);
}

.url {
	background: #f0f0f0;
	padding: 1em 0;
	border-radius: 8px;
	margin: 0 0 45px 0;
    font-weight: 300;
    color: #333;
}

input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    border: 1px solid transparent;
    outline: none;
    padding: 5px;
    font-weight: 300;
}

input:focus {
    border: 1px solid #555;
    outline: none;
}

button {
    border-radius: 8px;
    border: none;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 20px 0;
    font-weight: 500;
    box-shadow: none;
    width: 100%;
    font-family: sans-serif;
    font-size: 1.25em;
    margin: 20px 0;
}

button:focus {
    outline: none;
    box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.25);
}